{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block pagetitle %}Rocket Listings{% endblock %}</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

		{# CDN CSS #}
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
		{# <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> #}

		{# Offline CSS #}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		
		{# <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" media="screen" />#}
		<link rel="stylesheet" type="text/css" href="{% static 'css/fineuploader.css' %}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
		{% block css %}{% endblock%}
		{# moved js to bottom of page #}
	</head>
	<body>
		<div class="wrap">
			{% include "header.html" %}
			<div class="container">
				<div class="page-content">
					{% block content %}<h3>Error 404</h3>{% endblock %}
				</div>
				<div class="push"></div>{# sticky footer div #}
			</div>
		</div>
		{% include "footer.html" %}
		{% include "partials/modal_photo_upload.html" %}
		</div>

		{# CDN JS #}
		{# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> #}
		{# <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> #}
		
		{# for offline development #}
		<script src="{% static 'js/jquery-1.9.0.js' %}"></script> 
		<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>


		<script src="{% static 'js/fineuploader/jquery.fineuploader-3.1.1.js' %}" ></script>
		{# <script src="{% static 'js/fancybox/jquery.fancybox.js' %}"></script> #}
		<script src="{% static 'js/jquery.cookie.js' %}"></script> {# this is for ajax upload #}
		<script type="text/javascript">
		   var STATIC_URL = "{{ STATIC_URL }}";
		</script>
		<script src="{% static 'js/global.js' %}"></script>		
		{% block js %}{% endblock %}

		{# UserVoice Plugin #}
		<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/o4vmqHxCMmC4DbHGzQ71A.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
		<script>
			UserVoice = window.UserVoice || [];
			UserVoice.push(['showTab', 'classic_widget', {
				mode: 'full',
				primary_color: '#e26959',
				link_color: '#007dbf',
				default_mode: 'support',
				forum_id: 175448,
				support_tab_name: 'Found a bug?',
				feedback_tab_name: 'Have an idea?',
				tab_label: 'Rocket Support',
				tab_color: '#e26959',
				tab_position: 'middle-right',
				tab_inverted: false
			}]);
		</script>
		{# Google Analytics #}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
			_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
			_gaq.push(['_setAccount', 'UA-38799685-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
