<div class="footer">
    <div class="hr hrline1">&nbsp;</div>
    <div class="inner">
{% comment %}       <h1 class="logo"><a href="/"><img src="/images/footLogo.png" width="158" height="218" alt="Rocket Listing, Listing Made Easy" /></a></h1>#}
        {#<div class="preFoot">

            <div class="footLeft">
                <div class="widget footIntro">
                    <img src="/images/footLogo2.png" alt="ROCKET LISTINGS" class="alignleft"/>
                    <p>Rocket Listings was founded because it should be easier and faster to sell a used item online. Secondary markets, such as online classifieds, are awesome: items are cheaper, they promote face-to-face interaction and community, and keep used items from going to the dump. We're trying to make posting listings to online classified sites an easy, fast and beautiful experience.</p>
                </div>
            </div>
            <div class="footRight">
                <div class="widget footIntro">
                    <h2 class="title"><span>Rocket Links</span></h2>
                    <ul>
                        {#<li><a href="/recent_listings">Listings</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/learn_more">Learn More</a></li>
                        <li><a href="mailto:help@rocketlistings.com"> Contact Us</a><li>
                    </ul>
                </div>
                <div class="widget footIntro">
                    <h2 class="title"><span>Our Social Pages</span></h2>
                    <ul>
                        <li><a href="#" target="_blank"><img src="/images/footFb.png"  alt=" " /> Facebook</a></li>
                        <li><a href="#" target="_blank"><img src="/images/footTwitter.png"  alt=" " /> Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div> {% endcomment %}
        <div class="foot">
            <p class="aCenter">Copyright &copy; 2012 Rocket Listings, Inc. - All Rights Reserved</p>
        </div>
    </div>
</div>
