{% extends "base.html" %}
{% load static from staticfiles %}

{# should really have a static_pages_base.html #}
{% block css %}<link type="text/css" rel="stylesheet" href="{% static 'css/static_pages.css' %}"/>{% endblock %}
{% block js %}<script type="text/javascript" src="{% static 'js/static_pages.js' %}"></script>{% endblock %}

{% block content %}
	<div class="homepage-presenting">Introducing...</div>
	<div class="homepage-heading">The hassle-free way to sell on Craigslist.</div>
	<div class="homepage-subheading">Organize all your listings, emails, offers, and potential buyers in one place.</div>
	
	
	<div class="homepage-row homepage-message">
		<div class="homepage-listings-view">{#<img src="images/listings-view.png" rel="homepage listing"/>#}</div>
		<div class="homepage-subheading" style = "margin-top: 40px;">You can create your listings on Craigslist and manage them here.</div>
		<div class="homepage-subheading" style = "margin-top: 40px;">And, you can create a superior listing with us.</div>

		<div class = "homepage-signup">
			<a class="btn btn-danger btn-large btn-block" href="{% url "registration_register" %}" data-toggle="modal">Sign-up free</a>
		</div>	
	</div>
{% endblock %}
